<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>__WRITER_EXE__</string>
	<key>CFBundleIdentifier</key>
	<string>__WRITER_ID__</string>
	<key>CFBundleName</key>
	<string>__WRITER_EXE__</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__BUILD__</string>
	<key>XPCService</key>
	<dict>
		<key>RunLoopType</key>
		<string>NSRunLoop</string>
		<key>ServiceType</key>
		<string>Application</string>
	</dict>
</dict>
</plist>
