<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key><string>__APPEX_ID__</string>
	<key>CFBundleName</key><string>__APPEX_DISPLAY__</string>
	<key>CFBundleDisplayName</key><string>__APPEX_DISPLAY__</string>
	<key>CFBundleExecutable</key><string>__APPEX_EXE__</string>
	<key>CFBundlePackageType</key><string>XPC!</string>
	<key>CFBundleShortVersionString</key><string>__VERSION__</string>
	<key>CFBundleVersion</key><string>__BUILD__</string>
	<key>LSMinimumSystemVersion</key><string>__MIN_OS__</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key><string>PreviewViewController</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key><false/>
			<key>QLSupportsSearchableItems</key><false/>
			<key>QLSupportedContentTypes</key>
			<array>
				__CONTENT_TYPES__
			</array>
		</dict>
	</dict>
</dict>
</plist>
